<div ng-controller="userGroupsController">
	<div ui-grid="gridOptions"></div>
	<button class="gridBtn btn btn-primary" ng-click="newGroup()">New Group</button>
</div>

<script type="text/ng-template" id="newGroup.html">
	<div class="modal-header">
		<h3 class="modal-title">New Group</h3>
	</div>
	<div class="modal-body">
		<form name="groupForm"
					sf-schema="schema"
					sf-form="form"
					sf-model="formModel"
					ng-submit="register(groupForm,formModel)"></form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="">Cancel</button>
	</div>
</script>