<div ng-controller="commandController">
	<div ui-grid="gridOptions"></div>
</div>

<script type="text/ng-template" id="publish.html">
	<div class="modal-body">
		<div class="modal-header">
			<h3 class="modal-title">Publish {{command.name}}</h3>
		</div>
		<div class="modal-body">
			<form name="publishCommandForm"
						sf-schema="schema"
						sf-form="form"
						sf-model="formModel"
						ng-submit="publish(publishCommandForm, formModel)"></form>
			<div ng-show="!formModel">
				<button ng-click="publish(publishCommandForm, formModel)">Publish</button>
			</div>
		</div>
		<div class="modal-body" ng-show="showResults">
			<hr />
			<h3>Publication Record</h3>
			<table class="table table-rounded">
				<tr>
					<th>Command</th>
					<td>{{pubRecord.commandName}}</td>
					<th>Record Id</th>
					<td>{{pubRecord.id}}</td>
				</tr>
				<tr>
					<th>Published</th>
					<td>{{pubRecord.created | date:'shortDateTime'}}</td>
					<th>Completed</th>
					<td>{{pubRecord.updated | date:'shortDateTime'}}</td>
				</tr>
				<tr>
					<th>Status</th>
					<td colspan="3">{{pubRecord.status}}</td>
				</tr>
				<tr>
					<th>Query References</th>
					<td colspan="3">
						<br />
						<table class="table">
							<tbody ng-repeat="q in pubRecord.queryReferences">
								<tr>
									<th>Name</th>
									<td>{{q.queryName}}</td>
								</tr>
								<tr>
									<th>Parameters</th>
									<td><json-formatter json="q.parameters" open="2"></json-formatter></td>
								</tr>
								<tr>
									<td></td>
									<td><button class="btn btn-standard" ng-click="runQuery(q)">Run Query</button></td>
								</tr>
								<tr class="well" ng-show="showQueryResults">
									<th>Results</th>
									<td>
										<div ui-grid-auto-resize ui-grid="resultGrid"></div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</script>
