@{
	ViewBag.Title = "Fulcrum Seed - ";
}
<body ng-cloak ng-app="@ViewBag.AppRootNamespace">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">@ViewBag.Title @ViewBag.ReleaseLabel</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav" ng-controller="navController">
						<li ui-sref-active="active"><a ui-sref="home">Home</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Log In</a></li>
						<li ui-sref-active="active"><a ui-sref="register">Register</a></li>
						<li ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<section ui-view></section>
	</div> 
</body>